<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Results</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/quiz_results.css" type="text/css" />
  <link rel="stylesheet" href="/styles/quiz.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Font awesome library-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <!-- fonts for CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>
  <%- include('partials/_header') %>

  <main class="container">
    <div class="results_title">
      <div class="quiz_title">My Results: <%= quiz_name %></div>
        <div class="results_options">
          <h2 class="score">Total: <%= attempt_score %>/4</h2>
          <a class="nav-item" href="/api/quiz/<%= quiz_id %>"><button class="try_again" type="try_again">Try Again</button></a>
        </div>
    </div>
    <section class="all_questions">
      <form action='/api/quiz/<%= quiz_id %>' method='POST'>
        <% questions.forEach((item) => {%>
        <article>
          <header>
            <div class="question">
              <p><%= item.question %></p>
            </div>
          </header>
          <div class="answers">
            My Answer: <%= item.attempted_answer %>
            <p><b>Score: <%= item.score %>/1</b></p>
          </div>
        </article>
        <% }) %>
      </form>
    </section>
  </main>

</body>

</html>
